openapi: 3.2.0
info:
  title: CTA Train Tracker Locations API
  description: The Chicago Transit Authority Train Tracker API provides real-time train arrival predictions and run/location information for the CTA L train system. Access requires an API key issued by the CTA Developer Center.
  version: 1.0.0
  contact:
    name: CTA Developer Center
    url: https://www.transitchicago.com/developers/
  license:
    name: CTA Developer License Agreement
    url: https://www.transitchicago.com/developers/terms/
servers:
- url: http://lapi.transitchicago.com/api/1.0
  description: CTA Train Tracker production
security:
- apiKey: []
tags:
- name: Locations
  description: Train geolocation operations
paths:
  /ttpositions.aspx:
    get:
      operationId: getPositions
      summary: Locations
      description: Returns the current latitude/longitude for in-service trains.
      tags:
      - Locations
      parameters:
      - name: key
        in: query
        required: true
        schema:
          type: string
      - name: rt
        in: query
        description: Comma-separated list of route codes.
        required: true
        schema:
          type: string
      - name: outputType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Positions of in-service trains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsResponse'
components:
  schemas:
    Position:
      type: object
      properties:
        rn:
          type: string
        destSt:
          type: string
        destNm:
          type: string
        trDr:
          type: string
        nextStaId:
          type: string
        nextStaNm:
          type: string
        prdt:
          type: string
        arrT:
          type: string
        isApp:
          type: string
        isDly:
          type: string
        lat:
          type: string
        lon:
          type: string
        heading:
          type: string
    PositionsResponse:
      type: object
      properties:
        ctatt:
          type: object
          properties:
            tmst:
              type: string
            errCd:
              type: string
            errNm:
              type: string
            route:
              type: array
              items:
                type: object
                properties:
                  '@name':
                    type: string
                  train:
                    type: array
                    items:
                      $ref: '#/components/schemas/Position'
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
