openapi: 3.2.0
info:
  title: CTA Bus Tracker Vehicles API
  description: The Chicago Transit Authority Bus Tracker API provides real-time bus arrival predictions, vehicle locations, route patterns, route lists, and stop directories for the CTA bus network. Access requires an API key issued by the CTA Developer Center.
  version: 2.0.0
  contact:
    name: CTA Developer Center
    url: https://www.transitchicago.com/developers/
  license:
    name: CTA Developer License Agreement
    url: https://www.transitchicago.com/developers/terms/
servers:
- url: http://www.ctabustracker.com/bustime/api/v2
  description: CTA Bus Tracker v2 production
security:
- apiKey: []
tags:
- name: Vehicles
paths:
  /getvehicles:
    get:
      operationId: getVehicles
      summary: Get Vehicles
      description: Returns vehicle positions for routes or specific vehicles.
      tags:
      - Vehicles
      parameters:
      - $ref: '#/components/parameters/key'
      - name: vid
        in: query
        description: Comma-separated vehicle IDs.
        schema:
          type: string
      - name: rt
        in: query
        description: Comma-separated route designators.
        schema:
          type: string
      - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Vehicle positions
components:
  parameters:
    key:
      name: key
      in: query
      required: true
      description: CTA Bus Tracker API key.
      schema:
        type: string
    format:
      name: format
      in: query
      description: Response format (xml or json). Defaults to XML.
      schema:
        type: string
        enum:
        - xml
        - json
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
